{% load static %}
<!DOCTYPE html>
<html>
<title>Pyfection</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidenav to 120px */
.w3-sidenav {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidenav (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class="w3-black">

<!-- Icon Bar (Sidenav - hidden on small screens) -->
<nav class="w3-sidenav w3-center w3-small w3-hide-small">
  <!-- Avatar image in top left corner -->
  <img src="{% static 'img/profile.jpg' %}" style="width:100%">
  <a class="w3-padding-large w3-black" href="#">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a class="w3-padding-large w3-hover-black" href="#about">
    <i class="fa fa-child w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
  <a class="w3-padding-large w3-hover-black" href="#projects">
    <i class="fa fa-code w3-xxlarge"></i>
    <p>PROJECTS</p>
  </a>
  <a class="w3-padding-large w3-hover-black" href="#contact">
    <i class="fa fa-at w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <ul class="w3-navbar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <li class="w3-left" style="width:25% !important"><a href="#">HOME</a></li>
    <li class="w3-left" style="width:25% !important"><a href="#about">ABOUT</a></li>
    <li class="w3-left" style="width:25% !important"><a href="#projects">PROJECTS</a></li>
    <li class="w3-left" style="width:25% !important"><a href="#contact">CONTACT</a></li>
  </ul>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">I create</span> Pyfection</h1>
    <p>Developer and Python Enthusiast.</p>
    <img src="{% static 'img/title_image.jpg' %}" alt="title_image" class="w3-image" style="width:75%">
  </header>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Who I am</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>Hi, nice to meet you! So you want to know why you should hire me. Well, let me tell you. When I work on an interesting project, then I forget the world around me and think only about the code. I am versatile, so from quick and dirty to fully documented, everything goes. If this made you curious, just drop an email or call me and we can talk about your project, or also about good movies, languages or anything you like (I am serious, I always love to meet nice people).</p>

    <h3 class="w3-padding-16 w3-text-light-grey">How I came to be</h3>
    <h4 class="w3-padding-16 w3-text-light-grey">Through work</h4>

    <div class="w3-accordion">
      <!-- RTS -->
      <button onclick="open_accordion('rts_desc')" class="w3-btn-block w3-left-align w3-text-grey">
        <p>11/2015 - 12/2016</p>
        <h5 class="w3-text-light-grey"><b>Project Developer</b></h5>
        <h6 class="w3-text-light-grey">RTS Services</h6>
        <p class=w3-tiny>click for more</p>
      </button>
      <div id="rts_desc" class="w3-accordion-content w3-container">
        <p>I was hired to take the pain off of our customer support by automating their tasks. Later on I switched to another section in which I was tasked to initiate and automate our new systems (Pipedrive [see project "pypedriver"] and Salesforce). I was also tasked to create reports from the data that we got from those systems.</p>
      </div>

      <!-- BMW -->
      <button onclick="open_accordion('bmw_desc')" class="w3-btn-block w3-left-align w3-text-grey">
        <p>09/2014 - 08/2015</p>
        <h5 class="w3-text-light-grey"><b>Electric Motor Tester</b></h5>
        <h6 class="w3-text-light-grey">BMW AG</h6>
        <p class=w3-tiny>click for more</p>
      </button>
      <div id="bmw_desc" class="w3-accordion-content w3-container">
        <p>I was responsible for manually inspecting motors and for running tests on them. Even though this job was very different, I am glad that I was able to do it. It was a revealing time for me, because I experienced what teamwork and hard work really means.</p>
      </div>

      <!-- Team Internet -->
      <button onclick="open_accordion('tiag_desc')" class="w3-btn-block w3-left-align w3-text-grey">
        <p>12/2013 - 02/2014</p>
        <h5 class="w3-text-light-grey"><b>Software Developer</b></h5>
        <h6 class="w3-text-light-grey">Team Internet AG</h6>
        <p class=w3-tiny>click for more</p>
      </button>
      <div id="tiag_desc" class="w3-accordion-content w3-container">
        <p>During those three months I was trained in node.js through an online course. I did not enjoy the syntax. I am a true believer in the Zen of Python, and node.js just work exactly the opposite way. Because of this and other personal reasons I soon left the company again.</p>
      </div>

      <!-- CONTENTSERV -->
      <button onclick="open_accordion('contentserv_desc')" class="w3-btn-block w3-left-align w3-text-grey">
        <p>08/2012 - 07/2013</p>
        <h5 class="w3-text-light-grey"><b>Project Developer</b></h5>
        <h6 class="w3-text-light-grey">CONTENTSERV GmbH</h6>
        <p class=w3-tiny>click for more</p>
      </button>
      <div id="contentserv_desc" class="w3-accordion-content w3-container">
        <p>This company is selling a CMS software, written in PHP with a custom PHP framework. For the first few months I was in the section which took customer requests and added them to our software. We tested our own code with pair review and at the end a QA took place, in which I was tasked to "break" the code (I guess I have a talent for that). In the last few months I was additionally tasked to connect our API with the Adobe Indesign API over a C-like scripting language. Version control was done with SVN.</p>
      </div>

      <!-- DIS -->
      <button onclick="open_accordion('dis_desc')" class="w3-btn-block w3-left-align w3-text-grey">
        <p>09/2009 - 07/2012</p>
        <h5 class="w3-text-light-grey"><b>Fachinformatiker für Anwendungsentwicklung</b></h5>
        <h6 class="w3-text-light-grey">DIS AG</h6>
        <p class=w3-tiny>click for more</p>
      </button>
      <div id="dis_desc" class="w3-accordion-content w3-container">
        <p>I started as "Systemintegrator" and in the last year I changed to "Anwendungsentwickler". I learned how to set up and maintain networks. I was tasked to take calls from our non-tech staff and help them with their daily computer issues. Later on, in my third year, I switched to maintain and implement new features in our internal CRM system, which was written in VBA.</p>
      </div>
    </div>
    
    <h3 class="w3-padding-16 w3-text-light-grey">What I do</h3>
    <p class="w3-wide">App Development (for all platforms)</p>
    <div class="w3-progress-container">
      <div class="w3-progressbar" style="width:95%"></div>
    </div>
    <p class="w3-wide">Freelancing (Python)</p>
    <div class="w3-progress-container">
      <div class="w3-progressbar" style="width:95%"></div>
    </div>
    <p class="w3-wide">Teaching (Programming)</p>
    <div class="w3-progress-container">
      <div class="w3-progressbar" style="width:80%"></div>
    </div>
    <p class="w3-wide">Freelancing (C/C++)</p>
    <div class="w3-progress-container">
      <div class="w3-progressbar" style="width:30%"></div>
    </div><br>
    
    <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">1</span><br>
        Partners
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">0</span><br>
        Projects Done
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">0</span><br>
        Happy Clients
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">3</span><br>
        Meetings
      </div>
    </div>

    <button class="w3-btn w3-light-grey w3-padding-large w3-section w3-hover-grey">
      <i class="fa fa-download"></i> Download Resume
    </button>
    
    <!-- Grid for pricing tables -->
    <h3 class="w3-padding-16 w3-text-light-grey">What I should be worth to you</h3>
    <div class="w3-row">
      <div class="w3">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Project Interview</li>
          <li class="w3-padding-16">
            <h2>15 EUR</h2>
          </li>
        </ul>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-half">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Pay per hour</li>
          <li class="w3-padding-16">
            <h2>60 EUR</h2>
            <span class="w3-opacity">for very small projects or maintenance of old ones</span>
          </li>
        </ul>
      </div>

      <div class="w3-half">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Project for a month</li>
          <li class="w3-padding-16">
            <h2>8400 EUR</h2>
            <span class="w3-opacity">one month for a set goal, overtime is free!</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-light-grey w3-padding-24">
            <button class="w3-btn w3-white w3-padding-large w3-hover-black">Sign Up</button>
          </li>
        </ul>
      </div>
    <!-- End Grid/Pricing tables -->
    </div>
    
    <!-- Testimonials -->
    <h3 class="w3-padding-24 w3-text-light-grey">What people say about me</h3>  
    <p><span class="w3-large w3-margin-right">Be the first to write a review about me!</span></p>
  </div>
  
  <!-- Portfolio Section -->
  <div class="w3-padding-64 w3-content" id="projects">
    <h2 class="w3-text-light-grey">Which projects I am working on (only public ones)</h2>
    <hr style="width:200px" class="w3-opacity">

    <!-- Grid for projects -->
    <ul class="w3-ul">
      <li>
        <a href="https://github.com/matumaros/boarbar">boar.bar</a>
        <p class="w3-text-grey">A website written in Python with Django and Bootstrap to preserve and develop the Bavarian language.</p>
      </li>
      <li>
        <a href="https://github.com/matumaros/BomberApe">BomberApe</a>
        <p class="w3-text-grey">A Bomberman game in Python with Kivy which uses ANNs.</p>
      </li>
      <li>
        <a href="https://github.com/pyfection/neuravolve">neuravolve</a>
        <p class="w3-text-grey">A prototype for an artificial neural network (ANN) in Python.</p>
      </li>
      <li>
        <a href="https://github.com/pyfection/website">Pyfection Website</a>
        <p class="w3-text-grey">Written with Python, Django and W3.CSS.</p>
      </li>
      <li>
        <a href="https://github.com/matumaros/pypedriver">pypedriver</a>
        <p class="w3-text-grey">A Python client for Pipedrive.</p>
      </li>
    <!-- End project grid -->
    </ul>
  <!-- End Portfolio Section -->
  </div>

  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Baar-Ebenhausen, Bavaria</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +49 17661315858</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: mat@pyfection.com</p>
    </div><br>
    <!-- <p>Lets get in touch. Send me a message:</p>
    
    <form action="form.asp" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-btn w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form> -->
  <!-- End Contact Section -->
  </div>
  
    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>

</body>
</html>


<script>
function open_accordion(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
