{% load static %}
<!DOCTYPE html>
<html>
<title>Pyfection</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidenav to 120px */
.w3-sidenav {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidenav (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class="w3-black">

<!-- Icon Bar (Sidenav - hidden on small screens) -->
<nav class="w3-sidenav w3-center w3-small w3-hide-small">
  <!-- Avatar image in top left corner -->
  <img src="{% static 'img/profile.jpg' %}" style="width:100%">
  <a class="w3-padding-large w3-black" href="#">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a class="w3-padding-large w3-hover-black" href="#about">
    <i class="fa fa-child w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
  <a class="w3-padding-large w3-hover-black" href="#projects">
    <i class="fa fa-code w3-xxlarge"></i>
    <p>PROJECTS</p>
  </a>
  <a class="w3-padding-large w3-hover-black" href="#contact">
    <i class="fa fa-at w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <ul class="w3-navbar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <li class="w3-left" style="width:25% !important"><a href="#">HOME</a></li>
    <li class="w3-left" style="width:25% !important"><a href="#about">ABOUT</a></li>
    <li class="w3-left" style="width:25% !important"><a href="#projects">PROJECTS</a></li>
    <li class="w3-left" style="width:25% !important"><a href="#contact">CONTACT</a></li>
  </ul>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">I create</span> Pyfection</h1>
    <p>Developer and Python Enthusiast.</p>
    <img src="{% static 'img/title_image.jpg' %}" alt="title_image" class="w3-image" style="width:75%">
  </header>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Who I am</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>I am a passionate Pythoista who loves to meet new people. I think my personality reflects in my code. If you look at it you will see that I am not an architect, I am a diamond cutter. I don't build my code with every detail planned out but rather follow the general direction and take every opportunity on the way to make it better, even to a point of perfection, if I get the time to do so.
    </p>
    <h3 class="w3-padding-16 w3-text-light-grey">What I do</h3>
    <p class="w3-wide">App Development (for all platforms)</p>
    <div class="w3-progress-container">
      <div class="w3-progressbar" style="width:95%"></div>
    </div>
    <p class="w3-wide">Freelancing (Python)</p>
    <div class="w3-progress-container">
      <div class="w3-progressbar" style="width:95%"></div>
    </div>
    <p class="w3-wide">Teaching (Programming)</p>
    <div class="w3-progress-container">
      <div class="w3-progressbar" style="width:80%"></div>
    </div>
    <p class="w3-wide">Freelancing (C/C++)</p>
    <div class="w3-progress-container">
      <div class="w3-progressbar" style="width:30%"></div>
    </div><br>
    
    <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">1</span><br>
        Partners
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">0</span><br>
        Projects Done
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">0</span><br>
        Happy Clients
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">3</span><br>
        Meetings
      </div>
    </div>

    <button class="w3-btn w3-light-grey w3-padding-large w3-section w3-hover-grey">
      <i class="fa fa-download"></i> Download Resume
    </button>
    
    <!-- Grid for pricing tables -->
    <h3 class="w3-padding-16 w3-text-light-grey">What I should be worth to you</h3>
    <div class="w3-row">
      <div class="w3">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Project Interview</li>
          <li class="w3-padding-16">
            <h2>15 EUR</h2>
          </li>
        </ul>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-half">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Pay per hour</li>
          <li class="w3-padding-16">
            <h2>60 EUR</h2>
            <span class="w3-opacity">for very small projects or maintenance of old ones</span>
          </li>
        </ul>
      </div>

      <div class="w3-half">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Project for a month</li>
          <li class="w3-padding-16">
            <h2>8400 EUR</h2>
            <span class="w3-opacity">one month for a set goal, overtime is free!</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-light-grey w3-padding-24">
            <button class="w3-btn w3-white w3-padding-large w3-hover-black">Sign Up</button>
          </li>
        </ul>
      </div>
    <!-- End Grid/Pricing tables -->
    </div>
    
    <!-- Testimonials -->
    <h3 class="w3-padding-24 w3-text-light-grey">What people say about me</h3>  
    <p><span class="w3-large w3-margin-right">Be the first to write a review about me!</span></p>
  </div>
  
  <!-- Portfolio Section -->
  <div class="w3-padding-64 w3-content" id="projects">
    <h2 class="w3-text-light-grey">Which projects I am working on (only public ones)</h2>
    <hr style="width:200px" class="w3-opacity">

    <!-- Grid for projects -->
    <div class="w3-row">
      <div class="w3-half">
        <a href="https://github.com/pyfection/website">Pyfection Website</a>
      </div>

      <div class="w3-half">
      </div>
    <!-- End project grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>

  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Baar-Ebenhausen, Bavaria</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +49 17661315858</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: mat@pyfection.com</p>
    </div><br>
    <!-- <p>Lets get in touch. Send me a message:</p>
    
    <form action="form.asp" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-btn w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form> -->
  <!-- End Contact Section -->
  </div>
  
    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>

</body>
</html>
